/* BASE DESIGN BASED ON APPEARENCE ON GALAXY FOLD (280px) */

/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: header;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: body;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: accent;
  src: url("../fonts/Montserrat-Light.ttf");
}

/* ------------------- VARIABLES ------------------- */

:root {
  --header-xxl: 4rem header;
  --header-xl: 2.8rem header;
  --header-large: 2.25rem header;
  --header-medium: 1.85rem header;
  --header-small: 1.5rem header;
  --header-xs: 1.2rem header;

  --body-xxl: 1.8rem body;
  --body-xl: 1.5rem body;
  --body-large: 1.23rem body;
  --body-medium: 1rem body;
  --body-small: 0.9rem body;
  --body-xs: 0.7rem body;

  --accent-medium: 1rem accent;
  --accent-small: 0.8rem accent;
}

/* ------------------- GLOBAL ------------------- */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 135vh;
  background-repeat: repeat;
  background-size: cover;
  background-color: black;
  background-image: url("../images/lancerclone.jpg");
  z-index: -1;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 87%;
  max-width: 1110px;
  border: 2px white solid;
  margin-top: 25px;
}

header {
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

h1 {
  font: var(--header-small);
  text-shadow: 2px 2px black;
  text-align: center;
  background: linear-gradient(56deg, #d9d500, #ff0000, #ff7e00);
  background-size: 100% 100%;
}

h2 {
  margin: 0;
  font: var(--header-xs);
  text-align: center;
  padding: 0.7rem 0;
}

p {
  font: var(--body-small);
  line-height: 1.8888;
  text-justify: inter-word;
  padding: 15px 5px;
  border-top: 1px red solid;
  border-bottom: 1px red solid;
  margin: 0 0 0.7rem 0;
  background-color: black;
}

footer {
  font: var(--accent-small);
  margin: 25px 0px;
}

.hero {
  width: 100%;
  height: 100px;
  background-color: black;
  background-image: url("../images/serious.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid white;
}

.gameplay-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#quad {
  background-image: url("../images/Quad-hover.gif");
}

#triple {
  background-image: url("../images/Triple-hover.gif");
}

#blitz {
  background-image: url("../images/Blitz-hover.gif");
}

#boom {
  background-image: url("../images/Boom-hover.gif");
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 320px) {
  .gameplay-image {
    min-height: 200px;
  }
}

@media screen and (min-width: 481px) {
  .hero {
    height: 250px;
  }

  .gameplay-image {
    min-height: 250px;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font: var(--header-medium);
  }

  h2 {
    font: var(--header-small);
  }

  p {
    font: var(--body-medium);
    line-height: 1.5;
    padding: 15px 15px;
  }

  footer {
    font: var(--accent-medium);
  }

  .hero {
    height: 325px;
    background-size: initial;
  }

  .gameplay-image {
    min-height: 300px;
  }
}

@media screen and (min-width: 1366px) {
  h1 {
    font: var(--header-large);
  }

  h2 {
    font: var(--header-medium);
  }

  p {
    font: var(--body-large);
    line-height: 1.5;
  }

  .gameplay-image {
    min-height: 400px;
  }
}
